<h1>id: <%= @task.id %> のタスク編集ページ</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :content, 'Task' %>
  <%= f.text_field :content %>

  <%= f.label :status, 'Status' %>
  <%= f.text_field :status %>

  <%= f.submit 'タスクを投稿' %>
<% end %>

<%= link_to 'タスク一覧に戻る', tasks_path %>
