<h1>タスク新規作成ページ</h1>

<%= form_for(@task) do |f| %>
  <%= f.label :content, 'タスク内容' %>
  <%= f.text_field :content %>

  <%= f.label :status, 'タスクの進捗状態' %>
  <%= f.text_field :status %>

  <%= f.submit 'タスク登録' %>
<% end %>

<%= link_to 'タスクリスト一覧を表示', tasks_path %>
